<header class="header">
  <div class="logo">
    Gym<span>Admin</span>
  </div>

  <nav class="nav">
    <a routerLink="/l" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      Dashboard
    </a>

    <a class="menu-text" routerLink="/" [matMenuTriggerFor]="menu" routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">
      Members
    </a>

    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="">Members</button>
      <button mat-menu-item routerLink="/addmember">New Member</button>
    </mat-menu>
    <a routerLink="/subscriptions" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      Subscriptions
    </a>
    <a routerLink="/attendance" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      Attendance
    </a>
  </nav>
</header>