.header {
  display: flex;
  align-items: center;
  padding: 14px 32px;
  background-color: #4060a6;
  // background-color: #111827;
  color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.logo {
  font-size: 20px;
  font-weight: 700;
  margin-left: 10px;
}

.logo span {
  color: #22c55e;
}

.spacer {
  flex: 1;
}

.nav {
  display: flex;
  gap: 24px;
}

.nav a,
.nav button {
  color: #d1d5db;
  font-size: 15px;
  font-weight: 500;
}

.nav a:hover,
.nav button:hover {
  color: #ef2222;
}

.nav a.active {
  color: #22c55e;
  border-bottom: 2px solid #22c55e;
}