<header class="header">
  <div class="logo">
    Gym<span>Admin</span>
  </div>

  <nav class="nav">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      Dashboard
    </a>
<span
  class="menu-text"
  [matMenuTriggerFor]="menu">
  Members
</span>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Members</button>
  <button mat-menu-item>New Member</button>
</mat-menu>
    <a routerLink="/addmember" routerLinkActive="active">
      Subscriptions
    </a>
    <a routerLink="/attendance" routerLinkActive="active">
      Attendance
    </a>
  </nav>
</header>
