<div class="container">
  <h2>Gym Members</h2>
  <table border="1">
    <thead>
      <tr>
        
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Joined Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let member of members">
        
        <td>{{ member.firstName }} {{ member.lastName }}</td>
        <td>{{ member.email }}</td>
        <td>{{ member.phoneNumber}}</td>
        <td>{{ member.joinDate }}</td>
      </tr>
    </tbody>
  </table>
</div>